---
import Social from './Social.astro'
---

<footer class="py-6 lg:py-10 px-4 text-center">
    <div class="text-sm" data-test="footer-text">&copy;<script type="text/javascript"> document.write(new Date().getFullYear()); </script> Psoems. All Rights Reserved.</div>
    <Social />
</footer>
