<nav>
    <div class="max-w-screen-xl mx-auto px-4 py-3 flex gap-4 items-center justify-between h-22">
        <a href="/" class="text-5xl hover:opacity-80" style="font-family:'Buffalo'">Psoems</a>
        <div class="flex items-center gap-3">
            <button id="changeStyleModeButton" class="w-6 h-6"><img src="/images/light-mode-icon-white.svg" alt="light mode icon" width="24" height="24"></button>
            <div class="sm:flex sm:flex-col">
                <a class="text-lg sm:text-base mr-3 hover:opacity-80" href="/poems">Poems</a>
                <a class="text-lg sm:text-base hover:opacity-80" href="/#contact">Contact</a>
            </div>
        </div>
    </div>
</nav>
