---
import Head from '../components/Head.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
const { pageInfo } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <Head pageInfo={pageInfo}></Head>
    </head>
    <body class=`${('isManuallyDark' in pageInfo && pageInfo.isManuallyDark === false) ? 'light' : 'dark'} font-body leading-normal personality-casual`>
        {'isManuallyDark' in pageInfo ? (
            <Nav isManuallyDark={pageInfo.isManuallyDark} />
        ) : (
            <Nav />
        )}
        <slot />
        <Footer></Footer>
        {'isManuallyDark' in pageInfo ? (
            ''
        ) : (
            <script is:inline src="/js/changeStyleMode.js"></script>
        )}
    </body>
</html>